body {
  font-family: 'Courier New', monospace;
  user-select: none;
  padding: 5rem;
  background: url('../assets/dots.png');
}

* {
  margin: 0;
}

button, select {
  font-family: 'Courier New', monospace;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgba(92, 50, 168);
}

section {
  font-size: 1.25rem;
  color: rgba(92, 50, 168);
  font-weight: 600;
}

section > * {
  margin-top: 1.5rem;
}

section, nav {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.button-link, button {
  text-decoration: none;
  border-radius: 20px;
  padding: 1rem 3rem;
  background-color: rgba(232, 199, 240, 1);
  font-size: 1.25rem;
  color: inherit;
  cursor: pointer;
  border-width: 0;
}

.wt-link {
  align-self: flex-end;
}

.game-controls-header {
  margin-top: 0rem;
}

.resources, .game-controls {
  background-color: rgba(232, 199, 240, 1);
  padding: 2rem;
  border-radius: 30px;
  min-width: 955px;
}

.resources > ul > li > a {
  text-decoration: none;
  font-weight: 800;
}

canvas {
  border: 15px double rgba(92, 50, 168);
  box-shadow: 0 0 30px rgb(222, 132, 238);
  margin-bottom: 3rem;
}

.wt-steps {
  display: none;
  padding: 2rem;
  background-color: rgba(221, 215, 237, 0.7);
  border-radius: 30px;
}

.wt-steps > li {
  margin-left: 2rem;
}

.wt-reveal {
  margin-right: auto;
}

.walkthrough-header, .escape-room-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-arrow {
  transform: rotate(180deg);
}

.nav-button {
  cursor: pointer;
  margin: 2rem;
  visibility: hidden;
}